<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fefefe">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1a1a1a">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">

    <!-- Standard Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
    
    <!-- Apple Touch Icon (for iOS) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  </head>
  <body class="container">
    <header class="site-header">
      <h1><a href="{{ '/' | relative_url }}" class="site-title">Mind Archipelago</a></h1>
      <nav>
          <a href="{{ '/about' | relative_url }}">About</a>
      </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer class="site-footer">
      <div class="footer-meta">
        Last updated: {{ site.time | date: "%B %Y" }}
      </div>
    </footer>
  </body>
</html>
