<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- Standard Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
    
    <!-- ICO Favicon -->
    <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    
    <!-- Apple Touch Icon (for iOS) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
    
    <meta name="theme-color" content="#f4ecd8">
  </head>
  <body>
    <div class="container">
      <main>
        <!-- {% include navigation.html %} -->
        {{ content }}
      </main>
    </div>
  </body>
</html>
